* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

.main-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1111;
}

.cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 60rem;
  width: 100rem;
  border-radius: 10px;
}

.form {
  background-color: #6622cc;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.signup {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  color: #ffff;
  font-size: 32px;
  font-weight: 500;
}

.fi {
  height: 10px;
  fill: #777;
}

.cta-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  z-index: 1;
}

.passcode {
  position: relative;
  display: flex;
  align-content: center;
  text-align: center;
  margin-bottom: 1.5rem;
}

.passcode img {
  position: absolute;
  right: 0;
  top: 8px;
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

input {
  min-width: 100%;
  width: 30rem;
  /* width: 100%; */
  padding: 0.8rem;
  font-size: 1.6rem;
  font-family: inherit;
  color: #555;
  background-color: #ffff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 2rem; */
  border-bottom: 2px solid #ffff;
}

/* remove arrow from input field [All Browser] */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove arrow from input field [firefox] */

input[type="number"] {
  -moz-appearance: textfield;
}

/* .sign-up {
  padding-bottom: 2rem;
  border-bottom: 2px solid #ffff;
} */

.boy-reading {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.btn-form {
  width: 24rem;
  margin-top: 2rem;
  background-color: #ffff;
  color: #6622cc;
  padding: 0.8rem 6rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 9px;
  border: 2px solid transparent;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  box-shadow: -6px 10px 27px rgba(5, 5, 5, 0.3);
}

.btn-form:hover {
  transform: translateY(0.3rem);
  color: white;
  background-color: #6622cc;
  border: 2px solid white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.btn-form:active {
  transform: translateY(0.3rem);
}

.dir-login {
  text-decoration: none;
  color: white;
  margin-top: 4rem;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.dir-login:hover,
.dir-login:visited {
  text-decoration: 1px underline;
  transform: translateY(-0.3rem);
}

.dir-login:active {
  transform: translateY(0.2rem);
}

.icon-img {
  opacity: 0.6;
}
